body {
  background-color: #ededed;
}

/* estilo dos cards */

.custom-details {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin: auto;
  /* color: #FFFFFF;  */
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-details i {
  font-size: 3rem;
  transition: 1s;
}

.custom-details:hover i {
  color: purple;
  transform:scale(2.0);
  transition: 1s;
}
/* estilo da section do formulário */

.form-contato {
  display: inline-flex;
  justify-content: space-between;
  vertical-align: top;
}

/* estilo da section do mapa */

.endereco-titulo {
  display: flex;
  justify-content: center;
  font-size: x-large;
  font-weight: bolder;
  font-style: oblique; 
  padding-top: 50px;
  padding-bottom: 10px;
}

.endereco-detalhes {
  display: flex;
  justify-content: center;
  font-size: large;
  font-weight:lighter;
  padding-top: 20px;
}
